@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@media screen and (max-width: 991px) {
  .navbar .navbar-logo {
    height: auto;
    margin: 0 0 0 0;
    position: static;
    width: 60px;
    z-index: 999;
  }
}
@media screen and (min-width: 992px) {
  .navbar .navbar-logo {
    height: auto;
    margin: -25px 0 0 0;
    position: absolute;
    width: 90px;
    z-index: 999;
  }
}
.features {
  text-align: center;
}
@media screen and (max-width: 575px) {
  .features {
    margin-top: -50px;
  }
}
@media screen and (max-width: 575px) {
  .features .feature {
    margin-top: 40px;
    z-index: 9999;
  }
}
@media screen and (min-width: 576px) {
  .features .feature {
    margin-top: -200px;
    z-index: 9999;
  }
}
.features .feature a.club-button {
  margin-top: 2em;
  margin-bottom: 2em;
}
.features .feature hr {
  background-image: linear-gradient(to right, #ffffff, #92d884, #92d884, #92d884, #ffffff);
  border: 0;
  height: 2px;
  /*margin: 0 0 0 0;*/
}
.features .feature img {
  padding: 0 0 2em 0;
}

body {
  background: #92d884;
  color: #4d4d4d;
  font-family: "PT Sans", sans-serif;
}

.btn-primary {
  background-color: #92d884;
  border-color: #92d884;
}

a.club-button, a.club-button:active, a.club-button:link, a.club-button:visited {
  border-radius: 40px;
  display: block;
  max-width: 200px;
  padding: 8px 30px 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

a.club-button-left {
  margin: 0px auto 0px 0px;
}

a.club-button-center {
  margin: 0px auto 0px auto;
}

a.club-button-right {
  margin: 0px 0px 0px auto;
}

a.club-button-1 {
  background-color: transparent;
  border: 1px solid #92d884;
  color: #92d884;
}

a.club-button-1:hover {
  background-color: #92d884;
  color: #ffffff;
}

a.club-button-2 {
  background-color: #92d884;
  border: 1px solid #92d884;
  color: #ffffff;
}

a.club-button-2:hover {
  background-color: #ffffff;
  color: #92d884;
}

button.icon-button, button.icon-button:active, button.icon-button:hover, button.icon-button:link, button.icon-button:visited {
  color: #4d4d4d !important;
  padding: 0;
}

h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

h6 {
  font-family: "Heebo", sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  margin: 0 0 0 0;
}

.contentm {
  background-color: #ffffff;
}

.content-1 {
  background-color: #ffffff;
  padding: 3em 0 3em 0;
}

.content-4 {
  background-color: #dfdfdf;
  padding: 3em 0 3em 0;
}

.footer {
  padding: 1em 0 1em 0;
}
.footer p {
  margin: 0;
}
.footer .affiliates {
  text-align: center;
}
.footer .affiliates img {
  margin: 0 1em 1em 0;
}
.footer .affiliates .small-logo {
  height: 50px;
}
.footer .affiliates .medium-logo {
  height: 85px;
}
.footer .copyright {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  margin: 10px 0 10px 0;
  padding: 15px 0 0 0;
  text-align: center;
}
.footer .follow-icons {
  font-size: 1.3em;
  list-style-type: none;
  margin: 0.5em 0 0 0;
  padding: 0;
}
.footer .follow-icons li {
  display: inline-block;
  vertical-align: top;
}
.footer .follow-icons li a:active, .footer .follow-icons li a:hover, .footer .follow-icons li a:link, .footer .follow-icons li a:visited {
  color: #4d4d4d;
  text-decoration: none;
}
.footer .useful-links {
  text-align: right;
}
.footer .useful-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */